{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title_block %}| Nachricht zum Restaurant{% endblock title_block %}

{% block content_block %}
	<div class="container text-white">
		<!-- Header -->
		<div class="row py-5">
			<h1>Nachricht zum Restaurant senden</h1>
			<hr>
		</div>

		<!-- Message Card -->
		<div class="row justify-content-center">
			<div class="col-12 col-sm-12 col-md-12 col-lg-8">
				<div class="card bg-dark">
					<div class="card-header">Nachricht</div>
					<form method="POST">
						<div class="card-body">
							<p>von: <b>{{ request.user.username }}</b></p>
							{% csrf_token %}
							<textarea name="msg_f" class="form-control" maxlength="99" required></textarea>
						</div>
						<div class="card-footer float-end">
							<button class="btn btn-success" type="submit">Senden</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock content_block %}