{% extends "base.html" %}
{% load static %}

{% block title_block %}| Gesendet{% endblock title_block %}

{% block content_block %}
	<div class="row justify-content-center py-5">
		<div class="col-12 col-sm-12 col-md-12 col-lg-8">
			<div class="card bg-dark text-white">
				<div class="card-header">Bestellung gesendet</div>
				<div class="card-body">
					<p>
						Ihre Bestellung würde bei Restaurant gesendet und ausgedruckt.
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock content_block %}