:root {
	--primary-color: #8eed68;
	--inactive-color: #f5f5f5;
}

.section {
	min-height: 500px;
	padding: 100px 0;
}
.section-gray {
	background-color: var(--inactive-color);
}
.section-title {
	font-family: 'Tangerine', cursive;
	font-weight: 900;
	font-size: 40px;
}

hr {
	border: 3px solid var(--primary-color);
	width: 40%;
	margin: 20px auto 40px;
}

.nav {
	background-color: white;
	padding: 15px;
	border-radius: 5px;
}
.nav-link {
	color: black;
}
.nav-link:hover {
	color: var(--primary-color);
}
.active {
	background-color: var(--primary-color)!important;
}

.card {
	margin-bottom: 5px;
}
.card-title {
	color: black;
	font-weight: 400;
}
.card-price {
	color: green;
	font-size: 20px;
}