{% extends "open_base.html" %}
{% load static %}
{% block title_block %}| Home{% endblock title_block %}

{% block css_block %}
	<style type="text/css">

	</style>
{% endblock css_block %}

{% block content_block %}
	<!-- NAV -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-muted fixed-top">
		<div class="container-fluid">
	    	<a class="navbar-brand" href="#">Cibo Colorato</a>
	    	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      		<span class="navbar-toggler-icon"></span>
	    	</button>
	    	<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
	      		<ul class="navbar-nav ">
	        		<li class="nav-item">
	          			<a class="nav-link" aria-current="page" href="home">Home</a>
	        		</li>
	        		<li class="nav-item">
	          			<a class="nav-link" href="/menu/">Menü</a>
	        		</li>
	        		<li class="nav-item">
	          			<a class="nav-link" href="#section_about">Über Uns</a>
	        		</li>
	        		<li class="nav-item">
	        			<a class="nav-link">Galerie</a>
	        		</li>
	        		<li class="nav-item">
	        			<a class="nav-link">Wo Wir Sind</a>
	        		</li>
	        		<li class="nav-item">
	        			<a class="nav-link">Kontakt</a>
	        		</li>
	      		</ul>
	    	</div>
	  	</div>
	</nav>



	<!-- HERO -->
	<section id="section_home" class="hero" style="background-image: url('{{ einstellung.home_page_cover_bild }}')">
		<div class="container-fluid">
			<div class="row">
				<div class="hero-text col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
					<h1 class="hero-title">Willkommen zum Cibo Colorato</h1>
					<button class="btn btn-primary btn-lg">test</button>
				</div>
			</div>
		</div>
	</section>




	<!-- ABOUT -->
	<section id="section_about">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-6 col-lg-6">
					<h3>Über Uns</h3>
					<p>
						 {% if einstellung.uber_uns_text %}
						 	{{ einstellung.uber_uns_text }}
						 {% endif %}
					</p>
				</div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-6">
					{% if einstellung.uber_uns_bild %}
						<img class="img-fluid" src="{{ einstellung.uber_uns_bild }}">
					{% else %}
						<img class="img-fluid" src="https://via.placeholder.com/500">
					{% endif %}
				</div>
			</div>
		</div>
	</section>



	<!-- AKTION -->
	{% if aktion %}
		<section id="section_deal" style="background-image: url('{{ aktion.promo_bild }}')">
			<p>Test</p>
		</section>
	{% endif %}




	<!-- LOCATION -->
	<div id="map"></div>

	<!-- CONTACT -->
	<section id="section_contact">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-8">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-6 col-lg-6">
							<h4>Kontakt</h4>
							<p>tel: 0664 5555 3333</p>
						</div>
						<div class="col-12 col-sm-12 col-md-6 col-lg-6">
							<h4>Online Bestellen</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	<!-- GALLERY -->
	{% if gallery %}
		<section id="section_gallery">
			<div class="row">
				<div class="col-12">
					<!-- Gallery goes here -->
				</div>
			</div>
		</section>
	{% endif %}

{% endblock content_block %}

{% block script_block %}
	<script
      src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&libraries=&v=weekly"
      async
    ></script>

   <script type="text/javascript">
   		$('.nav-link').click(function(event) {
   			if ($(this).text() != "Menü") {
   				event.preventDefault();
   				console.log(event.target.href );
   				$(window).scrollTop($('#section_about').offset().top-20);
   			}
   		});
   </script>
{% endblock script_block %}